@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    vertical-align: baseline;
    background: transparent;
    outline: 0;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #189AB4;
    text-decoration: none;
}

.box1{
    font-family: "Montserrat", sans-serif;
    font-weight: 1000;
    font-size: 38px;
    color: #edf0f1;
    text-decoration: none;
    height: 150px;
    background-color: #FF5C5C;
    width: 290px;
    border-radius: 10px;
    padding-right: 170px;
}

.unit {
    font-size: 12px;
    font-weight: normal;
}

.box2{
    font-family: "Montserrat", sans-serif;
    font-weight: 1000;
    font-size: 38px;
    color: #edf0f1;
    text-decoration: none;
    height: 150px;
    background-color: #FFB52E;
    width: 290px;
    border-radius: 10px;
    padding-right: 150px;
}

.box3{
    font-family: "Montserrat", sans-serif;
    font-weight: 1000;
    font-size: 38px;
    color: #edf0f1;
    text-decoration: none;
    height: 150px;
    background-color: #8AC7DB;
    width: 290px;
    border-radius: 10px;
    padding-right: 150px;
}


.logo{
    font-family: "Russo One", sans-serif;
    cursor: pointer;
    margin-right: auto;
    color: #edf0f1;
    font-weight: 1000;
    font-size: 25px;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #0088a9;
    height: 20px;
}

.nav__links{
    align-items: space-between;
    padding: 0px 20px;
}

.nav__links a{
    transition:all 0.3s ease 0s;
}

.nav__link a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: #edf0f1;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

button:hover{
    background-color: #2F2440;
    color: white;
}



.container{
    display: flex;
    justify-content: space-between;
    width: 100%
}
.disp-cont{
    padding-top: 40px;
    background-color: white;
    width: 65%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.data-cont{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.white-blank{
    width: 250px;
}

.ai-blank{
    width: 350px;
    background-color: yellow;
}
canvas {
  display: block;
  margin: 20px auto;
}

.live {
    height: 17px;
    width: 62px;
    padding: 2px;
    border-radius: 10px;
    background-color: #ffe3d4;
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    animation: live 2.5s infinite;
    margin-left: 15px;
}

@keyframes live {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

.live::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    margin-right: 2px;
    vertical-align: middle;
}

.heart-symbol {
    font-size: 24px;
    padding-right: 60px;
    margin-bottom: 10px;
    color: white;
}

